.lead__title {
margin: 0;
max-width: 720px;
font-family: 'Inter', sans-serif;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
color: #FFFFFF;
}
@media screen and (max-width: 767px) { 
    .lead__title{
max-width: 288px;
font-size: 40px;
line-height: 44px;
    }
}