.lead__title {
    /* __title */

position: absolute;
width: 720px;
height: 200px;
left: 280px;
top: 136px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* or 104% */
text-align: center;

color: #FFFFFF;


}