.intro {
    max-width: calc(100% - 148*2);
    padding-top: 92px;
    margin-left: 148px;
}
@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}
@media screen and (max-width: 1023px) {
    .intro {
        padding-top: 88px;
        margin-right: 24px;
        margin-left: 24px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        padding-top: 64px;
        margin-right: 16px;
        margin-left: 16px;
    }
}