.cover {
    position: relative;
    background-image: url(../../image/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1184px;
    min-height: 740px;
    margin: 92px 48px;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
        margin-left: 0;
        margin-right: 0;

    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 88px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px 0 64px;
        min-height: 200px;
    }
}