.footer__item {
    padding-right: 18px;
    }
    .footer__item:last-of-type {
        padding-right: 0;
        padding-bottom: 0;
    }
    @media screen and (max-width: 767px) {
        .footer__item {
            padding-bottom: 32px;
        }
    }