.place {
    display: grid;
    padding-bottom: 80px;
    grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
    grid-template-columns: 460px minmax(min-content, 1fr);
    gap: 48px 40px;
    margin: 0 auto;
    max-width: 1280px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
        grid-template-columns: 440px minmax(min-content, 1fr);
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-rows: minmax(min-content, max-content) minmax(340px, 1fr);
        grid-template-columns: 340px minmax(min-content, max-content);
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        max-width: 100%;
        column-gap: 0px;
        row-gap: 32px;
    }
}